@import 'base';

html {
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

body {
  background-color: $WHITE;
  color: $text-color;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-width: $min-supported-width;
}

h1 {
  @include font-size-map($h1-font-size);
}

h2 {
  @include font-size-map($h2-font-size);
}

h3 {
  @include font-size-map($h3-font-size);
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: $font-weight-heavy;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:visited { color: $brand-primary-light; }
  &:hover { color: $brand-secondary; }
}

*, *:after, *:before {
  box-sizing: border-box;
}

input {
  color: $text-color;
  font-size: 1rem;
  font-family: $font-family-base;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}
