<div class="cr-layout__row cr-layout__row--25-25-25-25">
    <div class="cr-layout__cell">
        <div class="cr-pattern">
            <h3 class="ndpl-component__description">Mobile (xs)</h3>
            <hr />
            <p>576px</p>
        </div>
    </div>
    <div class="cr-layout__cell">
        <div class="cr-pattern">
            <h3 class="ndpl-component__description">Tablet (sm)</h3>
            <hr />
            <p>768px</p>
        </div>
    </div>
    <div class="cr-layout__cell">
        <div class="cr-pattern">
            <h3 class="ndpl-component__description">Desktop(md)</h3>
            <hr />
            <p>992px</p>
        </div>
    </div>
    <div class="cr-layout__cell">
        <div class="cr-pattern">
            <h3 class="ndpl-component__description">Large desktop (lg)</h3>
            <hr />
            <p>1200px</p>
        </div>
    </div>
</div>
