@import '../scss/base';

.cr-breadcrumb-nav {
  padding: $rhythm-vertical-base 0 $rhythm-vertical-base/3 0;
  @extend %constrain-width;

  .cr-breadcrumb__item {
    display: inline;
    list-style: none;
    // Zero font-size is a way to avoid gaps between the inline elements (spaces in html).
    font-size: 0;

    span {  /* stylelint-disable-line */
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 593 922'%3E%3Cpath fill='%23333333' d='M582 435L158 11a36 36 0 0 0-52 0l-95 95a36 36 0 0 0 0 51l304 304L11 764a36 36 0 0 0 0 52l95 95c14 14 37 14 52 0l424-424c14-15 14-38 0-52z'/%3E%3C/svg%3E") no-repeat center center;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 10px;
      background-size: 50%;
    }
  }

  .cr-breadcrumb__item:nth-child( 1 ) { /* stylelint-disable-line */
    margin-left: 10px;
  }

  .cr-breadcrumb__item:last-of-type span { /* stylelint-disable-line */
    display: none;
  }

  .cr-breadcrumb__link {
    color: $gray-80;

    &:hover {
      color: $brand-secondary;
      text-decoration: underline;
    }

    &:active,
    &:focus,
    &:visited {
      color: $gray-80;
    }
  }
}

// Hide the current page link.

.cr-breadcrumb--hide-current .cr-breadcrumb__list-item:last-child {
  @extend %sr-only;
}

// Hide the home page link.

.cr-breadcrumb--hide-top {

  .cr-breadcrumb__list-item:first-child {
    @extend %sr-only;
  }

  .cr-breadcrumb__list-item:nth-child( 2 ) .cr-breadcrumb__link {
    padding-left: $rhythm-horizontal-base;
  }
}
