@import '../scss/base';

.cr-breadcrumb__list {
  padding: 0 $rhythm-horizontal-base 0 0;
  margin: $rhythm-vertical-base 0 $rhythm-vertical-base * 2;
  list-style: none;
  // Zero font-size is a way to avoid gaps between the inline elements (spaces in html).
  font-size: 0;
}

.cr-breadcrumb__link {
  color: $brand-gray-dark;
  display: inline-block;
  padding: $rhythm-vertical-base / 2
    $rhythm-horizontal-base
    $rhythm-vertical-base / 2
    $rhythm-horizontal-base * 2;
  position: relative;
  background-color: $WHITE;
  text-decoration: underline;
  white-space: nowrap;
  font-size: $font-size-small;
  vertical-align: middle;

  &::after,
  &::before {
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 15px solid;
    margin-top: -18px;
    position: absolute;
    right: -14px;
    top: 50%;
  }

  &::after {
    border-left-color: $WHITE;
    z-index: 2;
  }

  &::before {
    border-left-color: $brand-gray-medium;
    right: -15px;
    z-index: 1;
  }

  &:hover {
    background: $brand-gray-light;
    color: $brand-secondary;

    &::after {
      border-left-color: $brand-gray-light;
    }
  }
}

.cr-breadcrumb__list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $brand-gray-medium;
  border-left: 1px solid $brand-gray-medium;
  border-top: 1px solid $brand-gray-medium;
  display: inline-block;

  &:first-child .cr-breadcrumb__link {
    padding-left: $rhythm-horizontal-base;
  }

  // The "current" page.
  &:last-child .cr-breadcrumb__link {
    text-decoration: none;
    color: $BLACK;
    background: $brand-gray-light;
    cursor: default;

    &::after {
      border-left-color: $brand-gray-light;
    }
  }
}

// Hide the current page link.
.cr-breadcrumb--hide-current .cr-breadcrumb__list-item:last-child {
  @extend %sr-only;
}

// Hide the home page link.
.cr-breadcrumb--hide-top {

  .cr-breadcrumb__list-item:first-child {
    @extend %sr-only;
  }

  .cr-breadcrumb__list-item:nth-child( 2 ) .cr-breadcrumb__link {
    padding-left: $rhythm-horizontal-base;
  }
}
