@import '../scss/base';

.cr-collapsible {
  margin-bottom: $rhythm-vertical-base * 2;
  border: 1px solid $brand-gray-light;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.cr-collapsible__heading {
  margin: 0;
  padding: 0;
}

.cr-collapsible__heading-button {
  @include icon-beside($icon-minus, $brand-primary, left, $rhythm-horizontal-base * 2);
  background: $gray-5;
  border: none;
  color: $brand-primary;
  font-size: $font-size-h2;
  padding: $rhythm-vertical-base $rhythm-horizontal-base;
  padding-left: $rhythm-horizontal-base * 4;
  display: block;
  width: 100%;
  text-align: left;

  &:hover, &:focus {
    @include icon-beside($icon-minus, $brand-secondary, left, $rhythm-horizontal-base * 2);
    color: $brand-secondary;
    text-decoration: underline;
    outline: none;
  }
}

.cr-collapsible__content {
  padding: $rhythm-vertical-base $rhythm-horizontal-base;
}

.cr-collapsible--collapsed {

  .cr-collapsible__heading-button {
    @include icon-beside($icon-plus, $brand-primary, left, $rhythm-horizontal-base * 2);

    &:hover, &:focus {
      @include icon-beside($icon-plus, $brand-secondary, left, $rhythm-horizontal-base * 2);
    }
  }
}
