<div class="cr-collapsible cr-collapsible--expanded">
    <h2 class="cr-collapsible__heading">
        <button class="cr-collapsible__heading-button" aria-expanded="1">
            {{ title }}
        </button>
    </h2>
    <div class="cr-collapsible__content">
        {{ content|raw }}
    </div>
</div>
