@import '../scss/base';

.cr-collapsible {
  margin-bottom: $rhythm-vertical-base * 2;
  border: 1px solid $brand-gray-light;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.cr-collapsible__heading {
  margin: 0;
  padding: 0;
}

.cr-collapsible__content {
  display: none;
  padding: $rhythm-vertical-base $rhythm-horizontal-base;
}

.cr-collapsible__heading-button {
  @include icon-beside($icon-plus, $brand-primary, left, $rhythm-horizontal-base * 2);
  @include font-size-map($h2-font-map);
  display: block;
  cursor: pointer;
  background: $gray-5;
  border: none;
  color: $brand-primary;
  padding: $rhythm-vertical-base $rhythm-horizontal-base;
  padding-left: $rhythm-horizontal-base * 4;
  width: 100%;
  text-align: left;
  font-family: $font-family-headings;
  font-weight: $font-weight-heavy;

  &:hover, &:focus {
    @include icon-beside($icon-plus, $brand-secondary, left, $rhythm-horizontal-base * 2);
    color: $brand-secondary;
    text-decoration: underline;
    outline: none;
  }
}

.cr-collapsible__input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 95%;
  height: 45px;
  cursor: pointer;

  &:hover {

    ~ .cr-collapsible__heading-button {
      @include icon-beside($icon-plus, $brand-secondary, left, $rhythm-horizontal-base * 2);
      color: $brand-secondary;
      text-decoration: underline;
      outline: none;
    }
  }

  &:checked {

    ~ .cr-collapsible__content {
      display: block;
    }

    ~ .cr-collapsible__heading-button {
      @include icon-beside($icon-minus, $brand-primary, left, $rhythm-horizontal-base * 2);
      color: $brand-primary;
    }
  }
}
