@import '../scss/base';

.cr-cta--print {
  color: $brand-primary;
  display: block;
  font-size: $font-size;
  font-weight: $font-weight-heavy;
  padding-left: 20px;

  &::before {
    @include icon-background($icon-print, $brand-primary);
    padding-right: 8px;
    text-decoration: none;
    vertical-align: middle;
  }
}
