@import '../scss/base';

.cr-cta--print {
  color: $brand-primary;
  display: block;
  font-weight: $font-weight-heavy;
  padding-left: 20px;
  @include font-size-map($base-font-map);

  &::before {
    @include icon-background($icon-print, $brand-primary);
    padding-right: 8px;
    text-decoration: none;
    vertical-align: middle;
  }

  @extend .vertical-spacing;
}
