@import '../scss/base';

.cr-cta--link {
  color: $KINGFISHER_DAISY;
  font-weight: $font-weight-heavy;
  text-decoration: none;
  display: inline-block;
  @include font-size-map($base-font-map);

  &:hover {
    color: $brand-secondary;
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:visited {
    color: $KINGFISHER_DAISY;
  }

  @extend .vertical-spacing;
}
