@import '../scss/base';

.cr-cta--secondary {
  color: $brand-secondary;
  display: block;
  font-size: $font-size;
  font-weight: $font-weight-heavy;
  padding-left: 20px;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
  }

  &::before {
    @include icon-background($icon-chevron-right, $brand-secondary);
    content: '';
    display: block;
    height: 16px;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
  }
}
