@import '../scss/base';

.cr-cta--primary {
  background-color: $brand-secondary;
  border-radius: $border-radius;
  border: 1px solid $brand-secondary;
  color: $WHITE;
  display: inline-block;
  font-family: $font-family-museo;
  font-size: $font-size-large;
  font-weight: $font-weight-heavy;
  padding: 10px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: $line-height-cta;

  &:hover {
    color: $WHITE;
    text-decoration: none;
    background-color: $brand-secondary-light;
  }

  &:visited {
    color: $WHITE;
  }
}
