@import '../scss/base';

.cr-cta--primary {
  background-color: $brand-secondary;
  border-radius: $border-radius;
  border: 1px solid $brand-secondary;
  color: $WHITE;
  display: inline-block;
  font-family: $font-family-MuseoSansRounded-700;
  font-weight: 700;
  padding: 10px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  @include font-size-map($base-font-map);

  &:hover {
    color: $WHITE;
    text-decoration: none;
    background-color: $brand-secondary-light;
  }

  &:visited {
    color: $WHITE;
  }

  &:focus {
    border-color: $brand-secondary;
    color: $WHITE;
    background-color: $brand-secondary;
  }

  @extend .vertical-spacing;
}
