@import '../scss/base';

.cr-header {
  @extend %constrain-width;
  @extend .vertical-spacing;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: $rhythm-vertical-base $rhythm-horizontal-base 0;

  .cr-header__slogan,
  .cr-header__search {
    display: none;
  }

  .cr-header__logo {
    flex-basis: 40%;
  }

  .cr-header__cta {
    margin-top: $rhythm-vertical-base;
  }

  @include breakpoint($breakpoint-b) {

    .cr-header__logo {
      flex-basis: auto;
    }

    .cr-header__slogan {
      display: block;
    }
  }

  @include breakpoint($breakpoint-c) {
    min-height: 115px;

    .cr-header__search {
      display: block;
      flex-basis: 20%;
      max-width: 20%;
      margin-right: $rhythm-horizontal-base;
    }
  }

  @include breakpoint($breakpoint-d) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cr-header__logo-img {
  width: auto;
}

.cr-header__site-slogan {
  color: $KINGFISHER_DAISY;
  font-weight: 500;
  font-size: 1.5625rem; // 25px
  padding: 0 30px;
  margin: 0;
  font-family: $font-family-MuseoSansRounded-500;
}

.cr-header__search .cr-search-input__input {
  width: 80%;
  max-width: 80%;
  display: inline-block;
}

.cr-header__search .cr-search-input__input,
.cr-menu__search .cr-search-input__input {
  padding: 7px 5px 5px 12px;
}
