@import '../scss/base';

.cr-header {
  @extend %constrain-width;
  @extend .vertical-spacing;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: $rhythm-vertical-base $rhythm-horizontal-base;

  .cr-header__slogan,
  .cr-header__search {
    display: none;
  }

  .cr-header__logo {
    flex-basis: 40%;
  }

  .cr-header__cta {
    margin-top: $rhythm-vertical-base;
  }

  @include breakpoint($breakpoint-b) {

    .cr-header__logo {
      flex-basis: auto;
    }

    .cr-header__slogan {
      display: block;
    }

    .cr-header__cta {
      margin-top: 0;
    }
  }

  @include breakpoint($breakpoint-c) {
    padding: $rhythm-vertical-base*2 $rhythm-horizontal-base $rhythm-vertical-base;

    .cr-header__search {
      display: block;
      flex-basis: 15%;
      margin-right: $rhythm-horizontal-base;
    }
  }

  @include breakpoint($breakpoint-d) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cr-header__logo-img {
  width: auto;
}

.cr-header__site-slogan {
  color: $KINGFISHER_DAISY;
  font-weight: 500;
  font-size: 1.5625rem; // 25px
  padding: 0 30px;
  font-family: $font-family-MuseoSansRounded-500;
}

.cr-header__search .cr-search-input__input {
  max-width: 110px;
  display: inline-block;
  -webkit-appearance: none;
}

