@import '../scss/base';

.cr-layout__row {
  @extend %constrain-width;
  margin-bottom: $rhythm-horizontal-base;
  width: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: $rhythm-vertical-base;
  grid-row-gap: $rhythm-horizontal-base;
}

.cr-layout__row.cr-layout__row--fullbleed {
  max-width: none;
}

// On screens that are big enough, apply the grid.
@media screen and (min-width: $breakpoint-b) {

  .cr-layout__row--100 {
    grid-template-columns: 100%;
  }

  .cr-layout__row--50-50 {
    grid-template-columns: repeat(2, 50%);
  }

  .cr-layout__row--66-33 {
    grid-template-columns: 66% 33%;
  }

  .cr-layout__row--33-66 {
    grid-template-columns: 33% 66%;
  }

  .cr-layout__row--33-33-33 {
    grid-template-columns: repeat(3, 33%);
  }

  .cr-layout__row--25-50-25 {
    grid-template-columns: 25% 50% 25%;
  }

  .cr-layout__row--25-25-25-25 {
    grid-template-columns: repeat(4, 25%);
  }
}

//
// == IE Backwards Compatibility
//

@include evil-ie {
  @media screen and (max-width: $breakpoint-b) {

    .cr-layout__row {
      display: block;
    }
  }
  @media screen and (min-width: $breakpoint-b) {

    .cr-layout__cell {
      margin-left: 5px;
      margin-right: 5px;
    }

    .cr-layout__cell:nth-of-type( 2 ) {
      -ms-grid-column: 2;
    }

    .cr-layout__cell:nth-of-type( 3 ) {
      -ms-grid-column: 3;
    }

    .cr-layout__cell:nth-of-type( 4 ) {
      -ms-grid-column: 4;
    }
  }
}


