<div class="cr-simple-loader">
    <div class="cr-simple-loader__spinner">
        <div class="cr-simple-loader__spinner-item cr-simple-loader__spinner-item--bounce1" />
        <div class="cr-simple-loader__spinner-item cr-simple-loader__spinner-item--bounce2" />
        <div class="cr-simple-loader__spinner-item cr-simple-loader__spinner-item--bounce3" />
    </div>
</div>
