<a class="cr-navigation-block__cta" href={{ href }}>
    <div class="cr-navigation-block">
        <h2 class="cr-navigation-block__title">{{ title }}</h2>
        <div class="cr-navigation-block__content">
            {{ text }}
        </div>
    </div>
</a>
