<div class="cr-related-links">
  <div class="cr-related-links__bar"></div>
  <div class="cr-related-links__content">
    <h3 class="cr-related-links__heading">{{ title }}</h3>
    <div class="cr-related-links__body">
      {{ content|raw }}
    </div>
  </div>
</div>
