@import '../scss/base';

.cr-related-links {
  background-color: $LILY_WHITE;
  border-radius: $border-radius;
}

.cr-related-links__content {
  padding: 15px;
}

.cr-related-links__body {
  padding-left: 15px;
}
