<div class="cr-related-links">
  <div class="cr-related-links__content">
    <h2 class="cr-related-links__heading">{{ title }}</h2>
    <div class="cr-related-links__body">
      {{ content|raw }}
    </div>
  </div>
</div>
