//
//== Placeholders (for extending).
//

%clearfix {
  clear: both;

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

%constrain-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width-constraint;
}

%text-hide {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

%sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

%visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

%skip-link {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  background: $gray-20;
  color: $WHITE;
  font-size: 0.94em;
  padding: 1px 10px 2px;
  border-radius: 0 0 10px 10px;
}

%caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

%textfield {
  border-radius: $border-radius;
  box-shadow: none;
  color: $gray-80;
  display: block;
  font-size: $font-size;
  height: 36px;
  line-height: $line-height;
  padding: 7px 12px 5px;
  transition: border-color 100ms linear;
}

%input-group__group {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  position: relative;
  border-collapse: separate;
  background: $WHITE;
  border: 2px solid $gray-20;
  border-radius: $border-radius;
  transition: border-color 100ms linear;
}

%input-group__group--focused {
  border-color: $brand-info;
}

%input-group__input {
  @extend %textfield;
  background: transparent;
  border: 0;
  flex: 1;
  width: auto;
  outline: none;
}

%input-group__button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  padding: 6px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  z-index: 2;
  outline: none;
  flex: 0 0 36px;
}

%inline-error-message {
  border-left: 6px solid $brand-danger;
  color: $brand-danger;
  font-size: $font-size;
  line-height: $line-height-base;
  margin-top: 10px;
  padding-left: 10px;
}
